[submodule "Mini Project Cart/Cart"]
	path = Mini Project Cart/Cart
	url = https://github.com/gokuldevp/Mini-Cart.git
[submodule "Mini"]
	path = Mini
	url = https://github.com/gokuldevp/React-Mini-Project-iPod
[submodule "Redux/movie_app"]
	path = Redux/movie_app
	url = https://github.com/gokuldevp/Redux-Movie-App.git
